{
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always"
}